*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* list-style: none; */
    text-decoration: none;
    font-family: 'Lora', serif;
}

.menu_navigation{
    background-image: url(images/replique.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex; 
    height: 400px;
    box-shadow: 0px 0px 20px #000;
    
   
}


nav ul {
    float: right;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    width: 90%;  

}


.test{
    background-color: aliceblue ;
    height: 150px;
    z-index: -0.3;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
    width: 100%;
    
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    /* margin-left: 110px; */
    /* border: 2px solid khaki; */
  
}

 a:hover{
    background: #7ab3bd;
    transition: .8s;
}


nav ul li a {
    /* border: 2px solid red; */
    margin-right: 20px;
    color: black;   
    font-weight: 500; 
    font-size: 20px;
    padding: 8px 3px;
    border-radius: 50px;
    background: white; 
    transition: 0.3s;
    clip-path: polygon(
        100 0, 
        100% 35%, 
        100% 50%, 
        100% 65%, 
        100% 100%,
        0% 100%,
        0% 65%,
        0% 50%,
        0% 35%,
        0 0 

    );
}


nav ul li a:hover {

    clip-path: polygon(
        100 0, 
        100% 35%, 
        90% 50%, 
        100% 65%, 
        100% 100%,
        0% 100%,
        0% 65%,
        10% 50%,
        0% 35%,
        0 0 

    );
}

.checkbox{
    display: none;
    float: right;
    font-size: 30px;
    color: red;
    margin-right: 40px;
    cursor: pointer;
    line-height: 80px;

}

#check{
    display: none;
}

@media (max-width: 1060px) {
    label.logo{
        padding-left: 25px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 858px) {
    .checkbox {
        display: block;
        margin-right: 40px;
        color: red;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;

    }

    #check:checked ~ ul {
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.logo_SMN{
    height: 140px; 
    width: 120px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    color-adjust:exact;
    /* border: 2px solid blue; */
}

.container{
    display: flex;
    flex-direction: row;
    
}

.container1{
    margin: 50px 20px 10px 20px;
    text-align: justify;
    padding: 0px 50px 0px;
}

.container2{
    margin: 50px 20px 10px 20px;
    text-align: justify;
    padding: 0px 50px 0px;
}

.milieu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 70px;
    /* max-width: 662px;
    min-width: 640px;  */
    /* background: rgb(205, 224, 224); */

}


.child1 {

    background-color:aliceblue ;
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 600px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    height: 290px;
    /* position: absolute; */
    /* margin-left: 50px; */
   
}

.child2{
 margin: auto;
 width: 490px;
 height: 390px;
 

}

.child3{
    margin: auto;
    width: 490px;
    height: 390px;
    margin-top: 50px;

}

.child4{
    background-color:aliceblue;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
    height: 290px;
    width: 600px;
    margin-top: 90px;
  
}

.child5{
    background-color:aliceblue ;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
    height: 290px;
    width: 600px;
    margin-top: 100px;
  
}

.child6{
    margin: auto;
    width: 490px;
    height: 390px;
    margin-top: 50px;
    
}

.contact
{
    background-image: url(images/carre.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    min-width: 640px;
    height: 390px;
    min-height: 300px;    

}


.titre
{
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    margin: 50px auto 0px;
    min-width: 640px;
    height: 360px;
    width: 80%;
    
}

.border{
    margin-top: 30px;
    font-size: 16px;
}

.zone_message{
    margin-top: 10px;
}


/* footer */

.footer
{
    background-image: url(images/abstract2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height:200px;
    min-width: 640px;
    
}

.footer .social{

    text-align: center;
    padding-bottom:30px;
    padding-top: 65px;
    
    
}

.footer .social a {
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block; 
    text-align: center;
    border-radius: 50%;
    margin: 0 8px; 
    opacity: 0.75;
    padding-bottom: 10px;
    color: white;
    
   
}

.footer .social a:hover {

    opacity:150;
}


.footer ul 
{
    
    list-style: none!important;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;

}

.footer ul a {

    color: inherit;
    text-decoration: none;
    justify-content: center;
    
    
}

.footer ul li {

    display: inline-block;
    padding: 0 15px;

}

.mots
{
    color: white;
    font-weight: bold;
    list-style: none!important;
    height: 20px;
    

} 

.copy
{
    
    color: white;
    text-align: center;
    
}

.mots
{
    color: white;
    font-weight: bold;
    list-style: none!important;
    height: 20px;
    

} 

.RetourEnHaut
{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: white;
    text-decoration: white;
    opacity: 0;
    transition: all .4s;


}

.RetourEnHaut.active{

        background-color: black;
        width: 65px;
        height: 13%;
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
        position: fixed;
        

        
}

