*{
    margin: 0;
    padding: 0;
}
.fond{
    /* height: 50px; */
    background-color: #ecf0f0;
}

.fond2{
    background-color: #116dFF;
    /* height: 100px; */
}

.fond3{
    background-color:#DEFF4F ;
    height: auto;
    
}


.row .second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* insertion de style des colones bootstrap  */

.col3{
    height: 50px;
    background-color: #DEFF4F;
    font-size: 27px;
    
    
}

 .col5, .col6, .col7, .col8, .col9{
    /* border: 2px solid red; */
    font-size: 25px;
    padding-top: 30px;
    color: white;
   
}

.col4{

    /* border: 2px solid yellow; */
    padding: 0px !important;
}


.col10, .col11, .col12, .col13, .col14
{
    /* border: 2px solid red; */
    font-size: 25px;
    padding-top: 30px;
    color: #116dFF;
    font-weight: bold;
   
}

.colnom, .colprenom, .colemail, .colobjet, .colmessage 

/* insertion de style sur les logos */

.fa-instagram{
    font-size: 35px;
    margin-top: 5px;
}

.fa-facebook{
    font-size: 35px;
    margin-top: 5px;
}

#logo_SMN{
    height: 110px;
    width: 15vw;
    
}

.corpsDuSite{
    background-color: #F997B5;
    /* position: relative; */
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */

   
}

/* Insertion de style sur des images */

.image_des_eponges{
 
    width: 510px;
    /* max-width: 1250px; */
    height: 480px;
    margin: 90px auto;
    transform: translate(-3%, -3%);
    /* border: 2px solid blue; */
    
}


/* zone media query */

@media screen and (max-width: 394px){

    .bureau{
        width: 123vw;
        height: 50vw;
    }

    .maison{
        width: 123vw;
        height: 50vw;
    }

    .fenetres{
        width: 123vw;
        height: 50vw;
    }
    
    .parties_communes{

        width: 123vw;
        height: 50vw;
    }

    .demenagement{

        width: 123vw;
        height: 50vw;
    }

    .moquette{
        width: 123vw;
        height: 50vw;
    }


}


@media screen and (max-width: 482px){

    .bureau{
        max-width: 68%;
    }

    .maison{
        max-width: 68%;
    }

    .fenetres{
        max-width: 68%;
    }

    .parties_communes{
        max-width: 68%;
    }

    .demenagement{
        max-width: 68%;
    }

    .moquette{
        max-width: 68%;
    }


    .image_des_eponges{

        transform: translate(-15%, -15%);
        margin: auto;

    }
}


/* Insertion de style sur la vidéo */


.video{
    margin: auto;
    /* border: 2px solid black; */
    width: 80%;
    /* transform: translate(-25%, -25%); */
}

/* Insertion de style sur les titres */

.grand_titre{
    /* l'absolute recherche le premier élement qui est relatif au body il s'allie à l'élément relatif 
    comme un parent */
    position: absolute;
    /* border: 2px solid black; */
    right: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    max-height: 300px;
    margin: 170px auto;
    color: white;
    font-size: 60px;
    width: auto;
    text-align: center;
    font-weight: bold;
}

.sous_titre{
    position: absolute;
    /* border: 2px solid black; */
    right: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    max-height: 200px;
    margin: 590px auto;
    color: white;
    font-size: 30px;
    /* border: 2px solid green; */
    text-align: center;
    width: auto;
}


/* Insertion de style sur les boutons */

.devis{
    background-color:#DEFF4F ;
    width: 350px;
    height: 50px;
    margin: 250px auto 60px ;
    text-align: center;
    font-size: 30px;
    /* font-weight: bold; */
    color: #116dFF;
}


.btn-custom{
    background-color: #DEFF4F;
    font-size: 28px;
    width: 140px;
    margin: auto;
}

/* Insertion de style sur le body */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
    
}


.contact{
    margin: auto;
    height: auto;
    padding-bottom: 20px;
    
}

.titre{
    /* border: 2px solid red; */
    margin: auto;
    height: auto;
   
    
}



.les_services{
    display: grid;
    grid-template-columns: repeat(auto-fill, 550px);
    grid-gap: 5px;
    justify-content: center;
    /* width: auto; */
    /* max-width: 1350px; */
    height: auto;
    margin: 100px auto 30px;
    /* border: 2px solid black; */
    /* width: 90%; */

}


/* les services */

.bureau{
    background-color: #e7aae3;
    width: 84%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* border: 2px solid red; */
 
}

.maison{
    background-color: #116dFF;
    width: 84%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: auto;

    
}

.fenetres{
    background-color: #7facf5;
    width: 84%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: auto;
}


.parties_communes{
   background-color:#8cf8c6;
   width: 84%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.demenagement{
    background-color:#DEFF4F;
    width: 84%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.moquette{
    background-color: rgb(197, 45, 45);
    width: 84%;
    height: 250px;
    margin: auto;
}

.nos_services{
    margin: auto;
    color: #116dFF;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  
}

.femmeDeMenage{
    height: 100%;
    width: 100%;
    /* padding-left: 40px; */
    
}

.Text_de_menage{
    /* width: 50%; */
   margin: auto;
   text-align: center;
   font-size: 22px;
   color: white;
    
}

.Text_maison{
    
   margin: auto;
   text-align: center;
   font-size: 22px;
   color: white;
}

.Text_maison_hotes{
    
   margin:auto;
   text-align: center;
   font-size: 22px;
   color: white;
 
}

.Text_parties_communes{
    width: 65%;
   margin: auto;
   text-align: center;
   font-size: 22px;
   color: white;
   
}

.tapis{
    width: 100%;
    height:250px;
}


.titre
{
    
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    margin: 30px auto 0px;
    min-width: 640px;
    height: 500px;
    width: 100%;

    
}

h2{
    margin-bottom: 50px;
}

.pied_de_page{
    background-color:#116dFF ;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap:30px;
    height: auto;
    /* border: 2px solid yellow; */
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.infos{
    width: 280px;
    height: 200px;
    margin: auto 60px;
    text-align: justify;
    color: white;
    font-size: 20px;
     /* border: 2px solid yellow; */
    
}

.notre_societe{
    max-width: 250px;
}

/* css du new form de contact */

.container .boot {

    background-image: url(images/carre.png);
    background-repeat: no-repeat;
    background-size: 170%;
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    

}


body{
    /* border: 2px solid red; */
}